@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@()

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Drawing page") {
    <a href="https://github.com/liosedhel/akkapaint"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@

    <h1>AkkaPaint
        <input class="jscolor" value="#FF0000" align="top">
        Brush size <input class="brushSize" type="range" min="1" max="20" step="1" value="3" />
            <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/liosedhel/akkapaint" data-icon="octicon-star" data-style="mega" data-count-href="/liosedhel/akkapaint/stargazers" data-count-api="/repos/liosedhel/akkapaint#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star liosedhel/akkapaint on GitHub">Star</a>
    </h1>
    <canvas id="sketch" width="1600" height="800" style="border:1px solid #000000;"  ></canvas>


}
